# Deleted led and io_dip connections from io_shield.ucf

CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "io_led<0>"  LOC = P97 | IOSTANDARD = LVTTL;
NET "io_led<1>"  LOC = P98 | IOSTANDARD = LVTTL;
NET "io_led<2>" LOC = P94 | IOSTANDARD = LVTTL;
NET "io_led<3>" LOC = P95 | IOSTANDARD = LVTTL;
NET "io_led<4>" LOC = P92 | IOSTANDARD = LVTTL;
NET "io_led<5>" LOC = P93 | IOSTANDARD = LVTTL;
NET "io_led<6>" LOC = P87 | IOSTANDARD = LVTTL;
NET "io_led<7>" LOC = P88 | IOSTANDARD = LVTTL;

NET "io_led<8>" LOC = P84 | IOSTANDARD = LVTTL;
NET "io_led<9>" LOC = P85 | IOSTANDARD = LVTTL;
NET "io_led<10>" LOC = P82 | IOSTANDARD = LVTTL;
NET "io_led<11>" LOC = P83 | IOSTANDARD = LVTTL;
NET "io_led<12>" LOC = P80 | IOSTANDARD = LVTTL;
NET "io_led<13>" LOC = P81 | IOSTANDARD = LVTTL;
NET "io_led<14>" LOC = P11 | IOSTANDARD = LVTTL;
NET "io_led<15>" LOC = P14 | IOSTANDARD = LVTTL;

NET "io_led<16>" LOC = P15 | IOSTANDARD = LVTTL;
NET "io_led<17>" LOC = P16 | IOSTANDARD = LVTTL;
NET "io_led<18>" LOC = P17 | IOSTANDARD = LVTTL;
NET "io_led<19>" LOC = P21 | IOSTANDARD = LVTTL;
NET "io_led<20>" LOC = P22 | IOSTANDARD = LVTTL;
NET "io_led<21>" LOC = P23 | IOSTANDARD = LVTTL;
NET "io_led<22>" LOC = P24 | IOSTANDARD = LVTTL;
NET "io_led<23>" LOC = P26 | IOSTANDARD = LVTTL;

# led_strip is a test strip that contains the bulbs
NET "led_strip0" LOC = P51 | IOSTANDARD = LVTTL;
NET "led_strip1" LOC = P41 | IOSTANDARD = LVTTL;
NET "led_strip2" LOC = P36 | IOSTANDARD = LVTTL;

# Buttons
NET "p1right_button" LOC = P141 | IOSTANDARD = LVTTL;
NET "p1left_button" LOC = P142 | IOSTANDARD = LVTTL;
NET "p1rm1_button" LOC = P137 | IOSTANDARD = LVTTL;
NET "p1rm2_button" LOC = P139 | IOSTANDARD = LVTTL;
NET "p2right_button" LOC = P10 | IOSTANDARD = LVTTL;
NET "p2left_button" LOC = P12 | IOSTANDARD = LVTTL;
NET "p2rm1_button" LOC = P9 | IOSTANDARD = LVTTL;
NET "p2rm2_button" LOC = P7 | IOSTANDARD = LVTTL;

# LEDs
NET "led_wire_0_0" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_1" LOC = P101 | IOSTANDARD = LVTTL;
NET "led_wire_0_2" LOC = P102 | IOSTANDARD = LVTTL;
NET "led_wire_0_3" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_4" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_5" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_6" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_7" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_8" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_wire_0_9" LOC = P100 | IOSTANDARD = LVTTL;
    
NET "led_wire_1_0" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_1" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_2" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_3" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_4" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_5" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_6" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_7" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_8" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_1_9" LOC = P7 | IOSTANDARD = LVTTL;
    
NET "led_wire_2_0" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_1" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_2" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_3" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_4" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_5" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_6" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_7" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_8" LOC = P7 | IOSTANDARD = LVTTL;
NET "led_wire_2_9" LOC = P7 | IOSTANDARD = LVTTL;